<div class="row">
  <div class="span4">
    <h2>about me</h2>
    <p>I'm a software engineer who is fascinated by making things work intuitively using math. I'm most distracted by a good double espresso and a nice running trail. </p>
  </div>
  <div class="span6">
    <h2>recent projects</h2>
    <dl class="dl-horizontal">
      <dt><a href="https://github.com/estsauver/spotter">Spotter</a><a href="https://github.com/estsauver/spotter" rel="tooltip" title="open sourced at Github"><img class="social_icon" title="Github" alt="github icon" src="{{ root_url }}/images/glyphicons_381_github.png"></a></dt>
      <dd>A project to make mobile streaming work while on the go</dd>
    </dl>
  </div>
  <div class="span2">
    <h2>found on</h2>
    <a href="https://github.com/estsauver" rel="tooltip" title="Github"><img class="social_icon" title="Github" alt="github icon" src="{{ root_url }}/images/glyphicons_381_github.png"></a>
    <a href="http://www.linkedin.com/in/estsauver" rel="tooltip" title="Linkedin"><img class="social_icon" title="Linkedin" alt="Linkedin icon" src="{{ root_url }}/images/glyphicons_377_linked_in.png"></a>
    <a href="http://twitter.com/estsauver" rel="tooltip" title="Twitter"><img class="social_icon" title="Twitter" alt="Twitter icon" src="{{ root_url }}/images/glyphicons_391_twitter_t.png"></a>
    <a href="https://plus.google.com/118093766404842364611?rel=author" rel="tooltip" title="Google Plus"><img class="social_icon" title="Google Plus" alt="Google Plus icon" src="{{ root_url }}/images/glyphicons_386_google_plus.png"></a>
    <h2>contact at</h2>
    <a href="mailto:estsauver@gmail.com">estsauver@gmail.com</a>
  </div>
</div>
